.titulo {
    color: white;
    text-align: center;
    margin: auto;
    width: 35%;
    border: 5px solid rgb(95, 3, 3);
    padding: 2px;
    background-color: #b38b6d;
}

.imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.paragrafo-01 {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.pag2 {
    color: red;
    text-align: center;

}