body {
    line-height: 0.4;
}

.imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
}

.texto {
    text-align: center;
    color: blue;
}

.amigo {
    text-align: center;
    color: blue;
}